<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Enxaqueca</title>
  <link rel="stylesheet" href="../public/css/enxaqueca.css" />
</head>
<body>
  <div class="container">
    <aside class="sidebar">
        <div class="profile">
          <h3>Draª Eliane Young</h3>
        </div>
      
        <nav class="specialties">

            <details>
                <summary>
                    <span><a href="prontuario.html">Prontuário</a></span> 
                </summary>
              </details>

              <details>
                <summary>
                    <span><a href="anexoExame.html">Anexo de Exames</a></span> 
                </summary>
              </details>

          <details>
            <summary>
                <span>Ginecologia</span> 
                <span class="chevron"></span> 
            </summary>
                <ul>
                    <li><a href="cicloMenstrual.html">Ciclo Menstrual</a></li>
                  </ul>            
          </details>
      
          <details open>
            <summary>
                <span>Neurologia</span>
                <span class="chevron"></span> 
            </summary>
            <ul>
              <li><a href="insonia.html">Insônia</a></li>
              <li><a href="enxaqueca.html">Enxaqueca</a></li>
            </ul>
          </details>
      
          <details>
            <summary>
                <span>Dermatologia</span> 
                <span class="chevron"></span> 
            </summary>
            <ul>
                <li><a href="rotinaDermatologica.html">Rotina Dermatológica</a></li>
              </ul>
          </details>
      
          <details>
            <summary>
                <span>Endocrinologia</span>
                <span class="chevron"></span> 
            </summary>
            <ul>
                <li><a href="tireoide.html">Tireóide</a></li>
                <li><a href="diabetes.html">Diabetes</a></li>
                <li><a href="hormonal.html">Hormonal</a></li>
              </ul>
          </details>
      
          <details>
            <summary>
                <span>Gastroenterologia</span>
                <span class="chevron"></span> 
            </summary>
            <ul>
                <li><a href="criseGastrite.html">Crise de Gastrite</a></li>
              </ul>
          </details>
      
          <details>
            <summary>
                <span>Psiquiatria</span>
                <span class="chevron"></span> 
            </summary>
                <ul>
                    <li><a href="historicoMedicacoes.html">Histórico de Medicações</a></li>
                  </ul>           
          </details>
      
          <details>
            <summary>
                <span>Cardiologia</span> 
                <span class="chevron"></span> 
            </summary>
            <ul>
                <li><a href="pressaoArterial.html">Pressão Arterial</a></li>
                <li><a href="batimentosCardiacos.html">Batimentos Cardíacos</a></li>
                <li><a href="oxigenaçãoSangue.html">Oxigenação no sangue</a></li>
              </ul>
          </details>

          

        </nav>
      
        <div class="change-patient">
          <a href="#">Trocar de Paciente</a>
        </div>
      </aside>
      

    <main class="content">
      <header class="header">
        <h1>Gráficos de Enxaqueca</h1>
        <div class="logo">Pulse<span>Flow</span></div>
      </header>

      <section class="chart-section">
        <!-- GRÁFICO 1 -->
        <div class="chart">
          <div class="chart-header">
            <h4>Intensidade da Enxaqueca</h4>
            <div class="month-selector" data-target="chartEnxaqueca">
              <button class="arrow-btn" data-direction="prev">‹</button>
              <span class="month-label">Abril • 2025</span>
              <button class="arrow-btn" data-direction="next">›</button>
            </div>
          </div>
          <canvas id="chartEnxaqueca"></canvas>
        </div>
      </section>
      
      

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="../public/js/enxaqueca.js"></script>
</body>
</html>
