<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Histórico de Anotações</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../public/css/historicoProntuario.css">
  <link rel="icon" type="image/png" href="../public/assets/logoMiniatura.png">
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <div class="profile">
        <h3>Draª Eliane Young</h3>
      </div>
      <nav class="specialties">
        <details><summary><span><a href="perfilPaciente.html">Perfil Paciente</a></span></summary></details>
        <details><summary><span><a style="font-weight: bold;" href="prontuario.html">Anotações</a></span></summary></details>
        <details><summary><span><a href="anexoExame.html">Anexo de Exames</a></span></summary></details>
        <details><summary><span>Ginecologia</span><span class="chevron"></span></summary><ul><li><a href="cicloMenstrual.html">Ciclo Menstrual</a></li></ul></details>
        <details><summary><span>Neurologia</span><span class="chevron"></span></summary><ul><li><a href="insonia.html">Insônia</a></li><li><a href="enxaqueca.html">Enxaqueca</a></li></ul></details>
        <details><summary><span>Dermatologia</span><span class="chevron"></span></summary><ul><li><a href="rotinaDermatologica.html">Rotina Dermatológica</a></li></ul></details>
        <details><summary><span>Endocrinologia</span><span class="chevron"></span></summary><ul><li><a href="tireoide.html">Tireóide</a></li><li><a href="diabetes.html">Diabetes</a></li><li><a href="hormonal.html">Hormonal</a></li></ul></details>
        <details><summary><span>Gastroenterologia</span><span class="chevron"></span></summary><ul><li><a href="criseGastrite.html">Crise de Gastrite</a></li></ul></details>
        <details><summary><span>Psiquiatria</span><span class="chevron"></span></summary><ul><li><a href="historicoMedicacoes.html">Histórico de Medicações</a></li></ul></details>
        <details><summary><span>Cardiologia</span><span class="chevron"></span></summary><ul><li><a href="pressaoArterial.html">Pressão Arterial</a></li><li><a href="batimentosCardiacos.html">Batimentos Cardíacos</a></li><li><a href="oxigenaçãoSangue.html">Oxigenação no sangue</a></li></ul></details>
      </nav>
      <div class="change-patient">
        <a href="selecao.html">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" style="vertical-align: middle; margin-right: 6px;"><path fill="white" d="M11.03 8.53a.75.75 0 0 0-1.06-1.06L5.97 11.47a.75.75 0 0 0 0 1.06l4 4a.75.75 0 1 0 1.06-1.06L8.31 12.75H18a.75.75 0 0 0 0-1.5H8.31l2.72-2.72Z"/></svg>
          Trocar de Paciente
        </a>
      </div>
    </aside>
      
    <main class="content">
      <header class="header">
        <h1>Histórico De Anotações</h1>
        <div class="logo">
          <img src="../public/assets/pulseLogo.png" alt="Logo Pulse Flow">
        </div>
      </header>

    <div class="filters">
      <select class="campo-personalizado">
        <option>Categoria</option>
      </select>
      <input type="text" class="campo-personalizado" placeholder="Médico Responsável">
      <button>Buscar Anotações</button>
      <a href="criarAnotações.html">
        <button>Nova Anotações</button>
      </a>
      
    </div>

    <div class="record-list">
      <div class="record-item">
        <div>
          <span>20/03/2025 Consulta de rotina</span>
          <span>Draª Eliane Young</span>
        </div>
        <a href="#">Visualizar Anotações</a>
      </div>
      <div class="record-item">
        <div>
          <span>20/03/2025 Consulta de rotina</span>
          <span>Draª Eliane Young</span>
        </div>
        <a href="#">Visualizar Anotações</a>
      </div>
      <div class="record-item">
        <div>
          <span>20/03/2025 Consulta de rotina</span>
          <span>Draª Eliane Young</span>
        </div>
        <a href="#">Visualizar Anotações</a>
      </div>
      <div class="record-item">
        <div>
          <span>20/03/2025 Consulta de rotina</span>
          <span>Draª Eliane Young</span>
        </div>
        <a href="#">Visualizar Anotações</a>
      </div>
      <div class="record-item">
        <div>
          <span>20/03/2025 Consulta de rotina</span>
          <span>Draª Eliane Young</span>
        </div>
        <a href="#">Visualizar Anotações</a>
      </div>
      <div class="record-item">
        <div>
          <span>20/03/2025 Consulta de rotina</span>
          <span>Draª Eliane Young</span>
        </div>
        <a href="#">Visualizar Anotações</a>
      </div>
    </div>
  </div>
  <script src="../public/js/historicoAnotacao.js"></script>
</body>
</html>