<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>PulseFlow | Home</title>
  <link rel="stylesheet" href="../public/css/homePage.css" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
  <link rel="icon" type="image/png" href="../public/assets/logoMiniatura.png">
</head>
<body>

  <header>
    <div class="logo">
      <img src="../public/assets/pulseLogo.png" alt="Logo Pulse Flow">
    </div>
    <nav>
      <a href="#features">ÁREAS DE ATUAÇÃO</a>
      <a href="#card">DADOS DE PACIENTES</a>
      <a href="#card-how-works">COMO FUNCIONA</a>
    </nav>
    <div class="btn-container">
      <a href="#" class="login-button" id="entrarBtn">Entrar</a>
    </div>
  </header>

  <div class="hero">
    <img src="../public/assets/img_home.png" alt="Médico e paciente" />
  </div>

  <div class="cta">Te ajudamos a cuidar da sua saúde</div>

  <div class="features" id="features">
    <div class="feature-item">
      <img src="../public/assets/papers.png" alt="Exames" />
      <p>Consulta de exames</p>
    </div>
    <div class="feature-item">
      <img src="../public/assets/prancheta.png" alt="Prontuários" />
      <p>Prontuários</p>
    </div>
    <div class="feature-item">
      <img src="../public/assets/grafico.png" alt="Gráficos" />
      <p>Acompanhamento Gráficos</p>
    </div>
    <div class="feature-item">
      <img src="../public/assets/wearables.png" alt="Wearables" />
      <p>Integração Wearables</p>
    </div>
  </div>

  <div class="card" id="card">
    <div class="section-title">
      Compromisso e responsabilidade na gestão dos dados do seu paciente
    </div>
    <p>
      Acreditamos que o cuidado com a saúde deve ser simples, eficaz e acessível. O PulseFlow conecta pacientes e médicos de forma inteligente, promovendo um acompanhamento mais proativo e colaborativo. Tudo isso com total segurança e responsabilidade no tratamento dos dados dos pacientes.
    </p>
  </div>

  <div class="card-how-works" id="card-how-works">
    <div class="how-it-works">
        <h2>Como funciona?</h2>
        <p>👨‍⚕️ <strong>Paciente</strong><br/>
          Registre dados importantes como pressão arterial e níveis de glicose, essenciais para o controle de condições como hipertensão e diabetes. Além disso, acompanhe sua alimentação e exercícios, garantindo um monitoramento completo da sua saúde.
        </p>
        <p>🩺 <strong>Médico</strong><br/>
          Utilize uma área especializada para registrar dados de exames, buscar pacientes e revisar registros de saúde de maneira contínua. Isso permite um acompanhamento mais detalhado e ajustes de tratamento baseados em informações atualizadas.
        </p>
      </div>
  </div>

  <footer>
    <div class="footer-container">
        <div class="footer-left">
            <img src="../public/assets/PulseNegativo.png" alt="Logo Pulse Flow" class="footer-logo">
        </div>
        <div class="footer-center">
            <div class="social-icons">
                <a href="#"><img src="../public/assets/App-store.png" alt="App Store"></a>
                <a href="#"><img src="../public/assets/Google-play.png" alt="Play Store"></a>
            </div>
            <p>Todos os direitos reservados <br> PulseFlow® 2025</p>
        </div>
        <div class="footer-right">
            <p>Utilizar a tecnologia para monitorizar e gerir informações sobre doenças crônicas é um passo poderoso para melhorar a qualidade de vida e garantir um acompanhamento contínuo da sua saúde.</p>
        </div>
    </div>
</footer>
  <script src="../public/js/homePage.js"></script>
</body>
</html>