<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil do Médico</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../public/css/perfilMedico.css">
  <link rel="icon" type="image/png" href="../public/assets/logoMiniatura.png">
</head>
<body>
  <div class="container">
    <main class="content">
      <section class="patient-header">
        <h1>👤 Perfil do Paciente</h1>
        <div class="profile-box">
          <img src="../public/assets/perfilPhotoCharles.webp" alt="Foto do Paciente">
          <div class="separator"></div>
          <div class="info">
            <p><strong>Nome do Paciente:</strong> Charles Leclerc</p>
            <p><strong>Gênero:</strong> Masculino</p>
            <p><strong>Idade:</strong> 27 anos e 6 meses</p>
            <p><strong>Nacionalidade:</strong> Mônaco</p>
            <p><strong>Altura:</strong> 180cm</p>
            <p><strong>Peso:</strong> 70.8kg</p>
            <p><strong>Profissão:</strong> Piloto Profissional</p>
            <p><strong>E-mail:</strong> charlesleclerc@gmail.com</p>
            <p><strong>Telefone:</strong> +1 (407) 360-5106</p>
            <p><strong>Observações:</strong> Utiliza Venvanse em uso contínuo.</p>
          </div>
        </div>
      </section>
    </main>
  </div>
  <script src="../public/js/perfilPaciente.js"></script>
</body>
</html>