<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Redefinição de Senha - PulseFlow</title>
  <link rel="stylesheet" href="../public/css/reset-password-form.css" />
</head>
<body>
  <div class="container">
    <h2>Redefinir Senha</h2>
    <form id="resetPasswordForm">
      <input type="password" name="senha" id="senha" placeholder="Nova senha" required />
      <span class="error" id="senhaError"></span>
      <button type="submit">Redefinir Senha</button>
    </form>
  </div>

  <script src="../public/js/reset-password-form.js"></script>
</body>
</html>
