<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Redefinição de Senha - PulseFlow</title>
  <link rel="stylesheet" href="../public/css/reset-password-form.css" />
</head>
<body>
  <div class="container">
    <div class="left">
      <h1>Redefina sua senha com segurança</h1>
      <p>
        Escolha uma nova senha forte para manter sua conta protegida. Evite senhas comuns ou fáceis de adivinhar.
      </p>
      <button onclick="window.location.href='/client/views/login.html'">Voltar ao Login</button>
      <div class="logo">Pulse<span>Flow</span></div>
    </div>

    <div class="right">
      <h2>REDEFINIR SENHA</h2>
      <p>Insira sua nova senha abaixo.</p>

      <form id="resetPasswordForm">
        <input type="password" name="senha" id="senha" placeholder="Nova senha" required />
        <span class="error" id="senhaError"></span>

        <button type="submit">Redefinir Senha</button>
      </form>

      <div class="link-auxiliar">
        <a href="/client/views/login.html">Lembrou sua senha? <span class="destaque">Faça Login</span></a>
      </div>
    </div>
  </div>

  <script src="../public/js/reset-password-form.js"></script>
</body>
</html>
