<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Redefinição de Senha - PulseFlow</title>
  <link rel="stylesheet" href="../public/css/reset-password.css" />
</head>
<body>
  <div class="container">
    <h2>Redefinir Senha</h2>
    <form id="resetPasswordForm">
      <input type="email" name="email" id="email" placeholder="Digite seu e-mail" required />
      <span class="error" id="emailError"></span>
      <button type="submit">Enviar Link de Redefinição</button>
    </form>

    <div class="link-auxiliar">
      <a href="/client/views/login.html">Voltar ao login</a>
    </div>
  </div>

  <script src="../public/js/reset-password.js"></script>
</body>
</html>
