<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>PulseFlow - Médico</title>
  <link rel="stylesheet" href="../public/css/selecao.css" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet" />
</head>
<body>
  <header>
    <a href="#" class="perfil-link">Meu Perfil →</a>
  </header>

  <main class="container">
    <!-- Logo como imagem -->
    <img src="../public/assets/PulseNegativo.png" alt="Logo PulseFlow" class="logo-img" />

    <p class="subtitulo">VEJA A SAÚDE DO SEU PACIENTE AQUI!</p>

    <input type="text" placeholder="CPF DO PACIENTE" class="input-cpf" />

    <button class="btn-acesso">Solicitar Acesso</button>
  </main>
</body>
</html>