/* Resetando estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  input:focus {
    outline: none;
    border-color: #009688;
  }
  
  button {
    padding: 12px;
    background-color: #009688;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #00796b;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }
  
  .link-auxiliar {
    text-align: center;
    margin-top: 20px;
  }
  
  .link-auxiliar a {
    color: #009688;
    font-weight: bold;
    text-decoration: none;
  }
  
  .link-auxiliar a:hover {
    text-decoration: underline;
  }
  